
.headerview-details {
    background: black;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.viewcart-details {
    justify-content: flex-end;
    font-size: 18px;
    align-content: center;
    margin-top:25px;
    margin-right: 30px;
}

.sidebar-details {
    margin-left: 10%;
    display: inline-block;
    /* background: lightgray; */
    margin-top: 5px;
    margin-left: 12%;
    margin-right: 2%;
    margin-bottom: 5%;
}
 .search-info {
     margin: 5%;
 }
 input {
     border: 2px solid gainsboro;
     padding: 5px;
 }
 .filter1 {
     margin: 5%;
 }
 .filter2 {
     margin:5%;
 }
 .filter3 {
    margin:5%;
}
 input[type=checkbox] {
     margin-top:0px;
     padding: 0px;
 }
.main-container-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-container {
    flex-flow: column;

}
.header-list-details {
    display: flex;
    flex-flow: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
 .mobile-info {
     padding: 5px;
     margin: 20px 10px;
     font-size: 16px;
 }
 .men-info {
    padding: 5px;
    margin: 20px 10px;
    font-size: 16px;
}
.woman-info {
    padding: 5px;
    margin: 20px 10px;
    font-size: 16px;
}
.electronic-info {
    padding: 5px;
    margin: 20px 10px;
    font-size: 16px;
}
.home-info {
    padding: 5px;
    margin: 20px 10px;
    font-size: 16px;
}
.mobile-info {
    padding: 5px;
    margin: 20px 10px;
    font-size: 16px;
}
.carousel-view-container {
    display: flex;
    justify-content: center;
}
.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0%;
    background-color: black;
    color: white;
    margin : auto;
}
.footer-info, p {
    padding: 5px;
}